In [1]:
def turntocapital(string):
    string=string+ string
    return string

name=turntocapital('sudhakar')
print(name)

sudhakarsudhakar

In [2]:
#tuples ## note tuples are not modifiable its immutable
sudha=(1,2,3)

In [8]:
print(type(sudha))

<class 'tuple'>

In [9]:
a,b,c=sudha

In [10]:
print(a)
print(b)
print(c)

1
2
3

In [11]:
# tuples exmaple with small paranthesis
values=(2,3,4)
def powercompute(values):
    a1,a2,a3=values
    a1r=a1**2
    a2r=a2**2
    a3r=a3**2
    results=(a1r,a2r,a3r)
    return results
results=powercompute(values)

print(results)

(4, 9, 16)

In [14]:
raisepower=lambda x,y: x**y
raisepower(2,3)

8

In [15]:
num=[1,2,3,4,5,6]

In [16]:
sudh=map(lambda x:x**2,num)

In [17]:
print(sudh)

<map object at 0x00000153349F72B0>

In [18]:
print(list(sudh))

[1, 4, 9, 16, 25, 36]

In [19]:


sudhakar=['28','male','married','kids-yes','working']

In [30]:
print(sudhakar)
print(enumerate(sudhakar))
print(list(enumerate(sudhakar)))

['28', 'male', 'married', 'kids-yes', 'working']
<enumerate object at 0x0000015334A12438>
[(0, '28'), (1, 'male'), (2, 'married'), (3, 'kids-yes'), (4, 'working')]

In [28]:
### using enumerate tricks
for ind,val in enumerate(sudhakar,start=10):
    print(str(ind),val)

10 28
11 male
12 married
13 kids-yes
14 working

In [50]:
#### using zip tricks
avengers=['sudhakr','DD','VD','bal']
age=['30','28','3','25']

z=zip(avengers,age)
print(z)
print(list(z))

z=zip(avengers,age)
print(*z)

<zip object at 0x0000015334A96B48>
[('sudhakr', '30'), ('DD', '28'), ('VD', '3'), ('bal', '25')]
('sudhakr', '30') ('DD', '28') ('VD', '3') ('bal', '25')

In [43]:
for z1,z2 in zip(avengers,age):
    print(z1,z2)

sudhakr 30
DD 28
VD 3
bal 25