In [1]:
import matplotlib.pyplot as plt

In [2]:
help(plt.hist)

Help on function hist in module matplotlib.pyplot:

hist(x, bins=None, range=None, density=None, weights=None, cumulative=False, bottom=None, histtype='bar', align='mid', orientation='vertical', rwidth=None, log=False, color=None, label=None, stacked=False, normed=None, hold=None, data=None, **kwargs)
    Plot a histogram.

    Compute and draw the histogram of *x*. The return value is a
    tuple (*n*, *bins*, *patches*) or ([*n0*, *n1*, ...], *bins*,
    [*patches0*, *patches1*,...]) if the input contains multiple
    data.

    Multiple data can be provided via *x* as a list of datasets
    of potentially different length ([*x0*, *x1*, ...]), or as
    a 2-D ndarray in which each column is a dataset.  Note that
    the ndarray form is transposed relative to the list form.

    Masked arrays are not supported at present.

    Parameters
    ----------
    x : (n,) array or sequence of (n,) arrays
        Input values, this takes either a single array or a sequence of
        arrays which are not required to be of the same length

    bins : integer or sequence or 'auto', optional
        If an integer is given, ``bins + 1`` bin edges are calculated and
        returned, consistent with :func:`numpy.histogram`.

        If `bins` is a sequence, gives bin edges, including left edge of
        first bin and right edge of last bin.  In this case, `bins` is
        returned unmodified.

        All but the last (righthand-most) bin is half-open.  In other
        words, if `bins` is::

            [1, 2, 3, 4]

        then the first bin is ``[1, 2)`` (including 1, but excluding 2) and
        the second ``[2, 3)``.  The last bin, however, is ``[3, 4]``, which
        *includes* 4.

        Unequally spaced bins are supported if *bins* is a sequence.

        If Numpy 1.11 is installed, may also be ``'auto'``.

        Default is taken from the rcParam ``hist.bins``.

    range : tuple or None, optional
        The lower and upper range of the bins. Lower and upper outliers
        are ignored. If not provided, *range* is ``(x.min(), x.max())``.
        Range has no effect if *bins* is a sequence.

        If *bins* is a sequence or *range* is specified, autoscaling
        is based on the specified bin range instead of the
        range of x.

        Default is ``None``

    density : boolean, optional
        If ``True``, the first element of the return tuple will
        be the counts normalized to form a probability density, i.e.,
        the area (or integral) under the histogram will sum to 1.
        This is achieved by dividing the count by the number of
        observations times the bin width and not dividing by the total
        number of observations. If *stacked* is also ``True``, the sum of
        the histograms is normalized to 1.

        Default is ``None`` for both *normed* and *density*. If either is
        set, then that value will be used. If neither are set, then the
        args will be treated as ``False``.

        If both *density* and *normed* are set an error is raised.

    weights : (n, ) array_like or None, optional
        An array of weights, of the same shape as *x*.  Each value in *x*
        only contributes its associated weight towards the bin count
        (instead of 1).  If *normed* or *density* is ``True``,
        the weights are normalized, so that the integral of the density
        over the range remains 1.

        Default is ``None``

    cumulative : boolean, optional
        If ``True``, then a histogram is computed where each bin gives the
        counts in that bin plus all bins for smaller values. The last bin
        gives the total number of datapoints. If *normed* or *density*
        is also ``True`` then the histogram is normalized such that the
        last bin equals 1. If *cumulative* evaluates to less than 0
        (e.g., -1), the direction of accumulation is reversed.
        In this case, if *normed* and/or *density* is also ``True``, then
        the histogram is normalized such that the first bin equals 1.

        Default is ``False``

    bottom : array_like, scalar, or None
        Location of the bottom baseline of each bin.  If a scalar,
        the base line for each bin is shifted by the same amount.
        If an array, each bin is shifted independently and the length
        of bottom must match the number of bins.  If None, defaults to 0.

        Default is ``None``

    histtype : {'bar', 'barstacked', 'step',  'stepfilled'}, optional
        The type of histogram to draw.

        - 'bar' is a traditional bar-type histogram.  If multiple data
          are given the bars are arranged side by side.

        - 'barstacked' is a bar-type histogram where multiple
          data are stacked on top of each other.

        - 'step' generates a lineplot that is by default
          unfilled.

        - 'stepfilled' generates a lineplot that is by default
          filled.

        Default is 'bar'

    align : {'left', 'mid', 'right'}, optional
        Controls how the histogram is plotted.

            - 'left': bars are centered on the left bin edges.

            - 'mid': bars are centered between the bin edges.

            - 'right': bars are centered on the right bin edges.

        Default is 'mid'

    orientation : {'horizontal', 'vertical'}, optional
        If 'horizontal', `~matplotlib.pyplot.barh` will be used for
        bar-type histograms and the *bottom* kwarg will be the left edges.

    rwidth : scalar or None, optional
        The relative width of the bars as a fraction of the bin width.  If
        ``None``, automatically compute the width.

        Ignored if *histtype* is 'step' or 'stepfilled'.

        Default is ``None``

    log : boolean, optional
        If ``True``, the histogram axis will be set to a log scale. If
        *log* is ``True`` and *x* is a 1D array, empty bins will be
        filtered out and only the non-empty ``(n, bins, patches)``
        will be returned.

        Default is ``False``

    color : color or array_like of colors or None, optional
        Color spec or sequence of color specs, one per dataset.  Default
        (``None``) uses the standard line color sequence.

        Default is ``None``

    label : string or None, optional
        String, or sequence of strings to match multiple datasets.  Bar
        charts yield multiple patches per dataset, but only the first gets
        the label, so that the legend command will work as expected.

        default is ``None``

    stacked : boolean, optional
        If ``True``, multiple data are stacked on top of each other If
        ``False`` multiple data are arranged side by side if histtype is
        'bar' or on top of each other if histtype is 'step'

        Default is ``False``

    normed : bool, optional
        Deprecated; use the density keyword argument instead.

    Returns
    -------
    n : array or list of arrays
        The values of the histogram bins. See *normed* or *density*
        and *weights* for a description of the possible semantics.
        If input *x* is an array, then this is an array of length
        *nbins*. If input is a sequence arrays
        ``[data1, data2,..]``, then this is a list of arrays with
        the values of the histograms for each of the arrays in the
        same order.

    bins : array
        The edges of the bins. Length nbins + 1 (nbins left edges and right
        edge of last bin).  Always a single array even when multiple data
        sets are passed in.

    patches : list or list of lists
        Silent list of individual patches used to create the histogram
        or list of such list if multiple input datasets.

    Other Parameters
    ----------------
    **kwargs : `~matplotlib.patches.Patch` properties

    See also
    --------
    hist2d : 2D histograms

    Notes
    -----
    .. [Notes section required for data comment. See #10189.]

    .. note::
        In addition to the above described arguments, this function can take a
        **data** keyword argument. If such a **data** argument is given, the
        following arguments are replaced by **data[<arg>]**:

        * All arguments with the following names: 'weights', 'x'.

In [5]:
# dictionaries
world={"albania":20.8,"afghanistan":92,"algeria":39.1}
print(world)

{'albania': 20.8, 'afghanistan': 92, 'algeria': 39.1}

In [6]:
world["albania"]

20.8

In [7]:
# strings,int,float,boolean are immutable objects , while list is mutable object
world2={"True":1,"false":0}
print(world2)

{'True': 1, 'false': 0}

In [8]:
world2["True"]

1

In [9]:
print(world.keys())

dict_keys(['albania', 'afghanistan', 'algeria'])

In [10]:
world["sealand"]=0.000027

In [11]:
print(world.keys())

dict_keys(['albania', 'afghanistan', 'algeria', 'sealand'])

In [12]:
print(world)

{'albania': 20.8, 'afghanistan': 92, 'algeria': 39.1, 'sealand': 2.7e-05}

In [13]:
world["sealand"]=0.00038

In [14]:
print(world)

{'albania': 20.8, 'afghanistan': 92, 'algeria': 39.1, 'sealand': 0.00038}

In [15]:
"sealand" in world

True

In [16]:
del(world["sealand"])

In [17]:
print(world)

{'albania': 20.8, 'afghanistan': 92, 'algeria': 39.1}

In [23]:
# creating dictionary of dictionaries using curly brackets
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}}

In [24]:
#europe["france"]["capital"]
europe["france"]

{'capital': 'paris', 'population': 66.03}

In [25]:
# Create sub-dictionary data
data={'capital':'rome','population':59.83}

In [26]:
europe["italy"]=data

In [27]:
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

In [29]:
# creating a dataframe from dictionary , dictionary from lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

print(names)
print(dr)
print(cpc)

my_dict={'country':names,'drives_right':dr,'cars_per_cap':cpc} 

print(my_dict)
print(my_dict.keys())

import pandas as pd

brics=pd.DataFrame(my_dict)

['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
[True, False, False, False, True, True, True]
[809, 731, 588, 18, 200, 70, 45]
{'country': ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'], 'drives_right': [True, False, False, False, True, True, True], 'cars_per_cap': [809, 731, 588, 18, 200, 70, 45]}
dict_keys(['country', 'drives_right', 'cars_per_cap'])

In [30]:
print(brics)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [31]:
brics.index=["US","AU","JP","IN","RU","MR","EG"]

In [32]:
print(brics)

          country  drives_right  cars_per_cap
US  United States          True           809
AU      Australia         False           731
JP          Japan         False           588
IN          India         False            18
RU         Russia          True           200
MR        Morocco          True            70
EG          Egypt          True            45

In [36]:
print(brics["country"])
type(brics["country"])

US    United States
AU        Australia
JP            Japan
IN            India
RU           Russia
MR          Morocco
EG            Egypt
Name: country, dtype: object

pandas.core.series.Series

In [37]:
print(brics[["country"]])
type(brics[["country"]])

          country
US  United States
AU      Australia
JP          Japan
IN          India
RU         Russia
MR        Morocco
EG          Egypt

pandas.core.frame.DataFrame

In [38]:
brics[["country","cars_per_cap"]]

          country  cars_per_cap
US  United States           809
AU      Australia           731
JP          Japan           588
IN          India            18
RU         Russia           200
MR        Morocco            70
EG          Egypt            45

In [39]:
brics[1:4]

      country  drives_right  cars_per_cap
AU  Australia         False           731
JP      Japan         False           588
IN      India         False            18

In [40]:
# using loc and iloc

print(brics)

          country  drives_right  cars_per_cap
US  United States          True           809
AU      Australia         False           731
JP          Japan         False           588
IN          India         False            18
RU         Russia          True           200
MR        Morocco          True            70
EG          Egypt          True            45

In [30]:
brics.loc["RU"] ## tis comes out as series

country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object

In [41]:
brics.loc[["RU"]] # preferred way

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [42]:
brics.loc[["RU","IN","JP"]]

   country  drives_right  cars_per_cap
RU  Russia          True           200
IN   India         False            18
JP   Japan         False           588

In [43]:
brics.loc[["RU","IN","JP"],["country","drives_right"]]

   country  drives_right
RU  Russia          True
IN   India         False
JP   Japan         False

In [44]:
brics.iloc[[4]]

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [45]:
brics.iloc[[2,3,4]]

   country  drives_right  cars_per_cap
JP   Japan         False           588
IN   India         False            18
RU  Russia          True           200

In [46]:
brics.iloc[[2,3,4],[0,1]]

   country  drives_right
JP   Japan         False
IN   India         False
RU  Russia          True

In [56]:
print(True==False)

False

In [57]:
print((-5*15)!=75)

True

In [58]:
print('pyscript'=='PyScript')

False

In [59]:
print(True==1)

True

In [60]:
# filtering pandas dataframe

In [61]:
fam=[1.32,1.32,5.3,4.5]

In [62]:
print(fam)

[1.32, 1.32, 5.3, 4.5]

In [63]:
for i in fam: ## lopping over the list single dimensional list
    print(i)

1.32
1.32
5.3
4.5

In [64]:
for ind,j in enumerate(fam):   ## for getting index use enumerate
    print(str(ind)  ,' ' + str(j))

0  1.32
1  1.32
2  5.3
3  4.5

In [65]:
name="sudhakar"
for c in name:
    print(c.capitalize())

S
U
D
H
A
K
A
R

In [67]:
# looping over dictionaries use items method

country={"india":'delhi',"pakistan":'islambad','srilanka':'colombo'}
print(country)
print(country.keys())
print(country['india'])


for ind,j in country.items():
    print(str(ind)+ '  capital is  '+ str(j))

{'india': 'delhi', 'pakistan': 'islambad', 'srilanka': 'colombo'}
dict_keys(['india', 'pakistan', 'srilanka'])
delhi
india  capital is  delhi
pakistan  capital is  islambad
srilanka  capital is  colombo

In [72]:
## looping ver numpy array use nditer method
import numpy as np
height=np.array([1.72,1.73,1.58,1.82])
weight=np.array([56,65,72,94])
bm=np.array([height,weight])
print(bm)

[[ 1.72  1.73  1.58  1.82]
 [56.   65.   72.   94.  ]]

In [69]:
for i in bm:
    print(i)

[1.72 1.73 1.58 1.82]
[56. 65. 72. 94.]

In [70]:
for i in np.nditer(bm):
    print(i)

1.72
1.73
1.58
1.82
56.0
65.0
72.0
94.0

In [73]:
np.random.seed(123)
np.random.rand()

0.6964691855978616

In [74]:
np.random.rand()

0.28613933495037946

In [75]:
np.random.seed(400)
np.random.rand()

0.6687289088341747

In [76]:
np.random.rand()

0.22599847009845475

In [77]:
np.random.rand()

0.8592987413441139

In [78]:
np.random.seed(123)
np.random.rand()
np.random.rand()

0.28613933495037946